* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.65;
  font-size: 16px;
  letter-spacing: 0.1px;
}

section {
  position: relative;
}

section::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: 100px auto 0;
  background: linear-gradient(
    to right,
    transparent,
    var(--card-border),
    transparent
  );
}